# Arquivos e diretórios do Git
.git
.gitignore

# Ambientes virtuais Python
venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.so

# Arquivos do PyInstaller
build/
dist/

# Caches
cache/
cache-directory/
*.db-shm
*.db-wal

# Backups e outros arquivos temporários
backup/
*.bak
*.tmp
*.swp
*.swo

# Exports que não precisam ser incluídos na imagem
# Comentado porque queremos montar este diretório como volume
exports/
test/