dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==5.19.0
pandas==2.2.1
numpy==1.26.4
gunicorn==22.0.0
pyodbc==5.1.0  # Para conexão com SQL Server no futuro